.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.titulo{
  font-size: 3em;
}

.relogio{
  font-size: 2em;
  font-weight: bold;
}